.nav .menu,
.nav .close {
    display: none;
}

@media screen and (max-width: 767px) {
    .logoStyle {
        position: relative;
    }
    .main-nav {
        height: 100vh;
    }
    ul {
        background-color: #800000;
        font-size: 1px;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 500;
        transition: 0.5 linear;
    }
    .nav .toggle {
        left: 0;
    }
    ul li {
        padding: .4rem;
    }
    .nav .menu,
    .nav .close {
        display: block;
        cursor: pointer;
        color: #fff;
        height: 5vh;
        transition: .2s ease-in;
    }
    .nav .menu {
        z-index: 100;
        position: absolute;
        top: 3%;
        left: 2%;
    }
    .nav .close {
        font-size: 2.5rem;
        font-weight: 300;
        color: #fff;
        margin-bottom: -.8rem;
    }
}